body {
    background-color: #bff7a0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
}

h2 {
    color: blue;
}

p {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a {
    color: #ff4500;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

ul li{
    color: blue;
    padding: 5px;
}

img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0,2);
    margin: 20px auto;
}
